.banner img{
    height: 150px;
    object-fit: cover;
}
.navbar{
    background-color: #67DBE6;
}
.navbar-brand{
    font-weight: 600;
    font-size: 30px;
}
.nav-item a{
    font-weight: 600;
}
@media only screen and (max-width: 600px){
    .banner img{
        height: 100px;
        object-fit: cover;
    }
}