.question{
    width:50%;
    margin:0 auto;
}
.option{
    border:2px solid white;
    padding:10px;
    margin-bottom: 10px;;
}
.eye{
    cursor: pointer;
    width:20px;
}
.eye:hover{
    color:green;
}

@media only screen and (max-width: 600px){
    .question{
        width:100%;
    }
    .card{
        max-width:100%!important;
    }
}